.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 100px;
}
@media screen and (max-width:991px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 10px;
    }
}
.card{
    aspect-ratio: 300/350;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    margin: 40px;
}
.card:hover{
    transform: translateY(2px) scale(1.002);
    transition: all 0.3s linear;
}
.card img:hover{
    transform:rotate(8deg);
    border-radius: 10px ;
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.mainTitle{
    list-style-type: none;
    text-align: center;
    margin-right: 30px;
}
input{
    display: flex;
    margin: 0 auto; 
    padding: 10px 30px;   
}
